// vars
$container-size: 200px;
$background-color: orange;

@mixin reduce-size($factor) {
  width: $container-size / $factor;
  height: $container-size / $factor;
}

.container {
  width: $container-size;
  height: $container-size;
  background-color: $background-color;
  margin: 20px;
}

.container-1 {
  &:active {
    background-color: lighten($background-color, 20%);
  }
}

.container-2 {
  &:hover {
    @include reduce-size(2);
  }
}
